<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <targets> 

	<!--Запись в файл-->  
    <target xsi:type="File" 
			name="allfile"
            fileName="${logDirectory}/nlog-all-${shortdate}.log" 
	        deleteOldFileOnStartup="true" 
	        concurrentWrites="true" />
  </targets>
	

  <rules>

    <!--Запись в файл-->  
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>